{% extends 'base.html' %}

{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}

{{ mixin_prop }}

{% for i in object_list %}
<div class="card mb-3">
    <div class="card-header">
        Категория: <a href="{{ i.category.get_absolute_url }}">{{i.category}}</a>
    </div>
    <div class="media">
        {% if i.photo %}
        <img src="{{ i.photo.url }}" alt="" width="350" class="ml-3 mt-3">
        {% else %}
        <img src="https://i.picsum.photos/id/214/536/354.jpg?hmac=4dgloh73Maq3PMhW8aflXxiZqzo8EBzu7WBMiMCUktM" alt=""
             width="350" class="ml-3 mt-3">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ i.title }}</h5>
            <p class="card-text">{{ i.content|truncatewords:34 }}</p>
            <a href="{{ i.get_absolute_url }}" class="btn btn-primary">Read more...</a>
        </div>
    </div>

    <div class="card-footer text-muted">
        {{ i.created_at|date:"Y-m-d H:i" }}
    </div>
</div>
{% endfor %}

{% endblock %}